<!-- app.component.html -->
<div class="flex flex-col h-screen">
  <!-- Navbar will be sticky within this container -->
  <div class="fixed top-0 w-full z-50">
    <app-navbar *ngIf="shouldShowNavbar()"></app-navbar>
  </div>

  <!-- Main content with padding-top to account for fixed navbar -->
  <div class="flex-grow mt-[60px]"> <!-- Adjust 60px to match your navbar height -->
    <router-outlet></router-outlet>
  </div>

  <app-toast></app-toast>
  <app-confirmation></app-confirmation>


</div>
