:host {
    display: block;
    min-height: 100vh;
    margin-top: -64px;
    padding-top: 64px;
    background-image: linear-gradient(to top, rgb(22 78 99), rgb(14 165 233));
}

input[type='email'],
input[type='password'],
input[type='text'] {
    @apply block w-full my-4 text-center;
    @apply border p-2 border-gray-400 rounded-2xl;
}

button {
    @apply block w-full font-semibold my-2 text-gray-600;
    @apply border p-2 border-gray-300 rounded-2xl;
}

button[type="submit"], .submit {
    @apply border-0 bg-primary text-white;
}
