.active-link {
  @apply text-sky-300 bg-[#133561];
}

:host {
  display: block;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}