<div class="w-full bg-[#0d3159] shadow-lg">
  <nav class="flex items-center w-full py-4 px-4 relative">
    <div class="flex items-center">
      <img src="assets/horizontal-blue-hgu-logo.png" class="h-8 pl-10" alt="Logo" />
      <a href="/statistics" class="text-lg font-bold text-white mr-5 pl-10 hover:text-sky-200 transition duration-300">User Access Tool</a>
    </div>

    <!-- Centered navigation tabs -->
    <div class="absolute left-1/2 transform -translate-x-1/2">
      <ng-container *ngIf="isloggedIn">
        <div class="flex justify-center space-x-4">
          <a
            class="text-xs font-semibold text-slate-200 hover:text-white mx-4 transition duration-300 px-3 py-1 rounded-md hover:bg-[#1a4b7c]"
            routerLink="/statistics"
            routerLinkActive="active-link"
          >
            HOME
          </a>
          <a
            class="text-xs font-semibold text-slate-200 hover:text-white mx-4 transition duration-300 px-3 py-1 rounded-md hover:bg-[#1a4b7c]"
            routerLink="/dashboards"
            routerLinkActive="active-link"
          >
            DASHBOARDS
          </a>
          <a
            class="text-xs font-semibold text-slate-200 hover:text-white mx-4 transition duration-300 px-3 py-1 rounded-md hover:bg-[#1a4b7c]"
            routerLink="/webtool"
            routerLinkActive="active-link"
          >
            WEB TOOLS
          </a>
          <a
            class="text-xs font-semibold text-slate-200 hover:text-white mx-4 transition duration-300 px-3 py-1 rounded-md hover:bg-[#1a4b7c]"
            routerLink="/masterdata"
            routerLinkActive="active-link"
          >
            MASTER DATA
          </a>
        </div>
      </ng-container>
    </div>

    <div class="flex ml-auto mr-4 items-center space-x-4">
      <h6
        class="block font-medium text-xs text-sky-200"
        *ngIf="user.name"
      >
        Welcome {{ user.name }}
      </h6>
      <button
        class="bg-sky-500 hover:bg-sky-600 text-white rounded-md font-medium px-4 py-1 text-xs transition duration-300 shadow-md"
        (click)="isloggedIn ? logout() : navigateToLogin()"
      >
        {{ isloggedIn ? 'Log out' : 'Login' }}
      </button>
    </div>
  </nav>
</div>